<% content_for :title, "#{t('rooms.index.users')} " %>
<% content_for :body_class, 'users' %>
<h1>
  <%= link_to t('rooms.index.users'), root_path %>
</h1>
<section class="user">
  <h2><%= @user.name %></h2>
  <div class="content">
    <h3><%= @user.content_head %></h3>
    <div class="body"><%= simple_format Rinku.auto_link(@user.content_body, mode=:all) %></div>
    <% if user_signed_in? && @user.id == current_user.try(:id) %>
      <div class="action">
        <%= link_to t('.edit'), edit_users_path %>
      </div>
    <% end %>
  </div>
  <dl>
    <dt><%= t('.chat_count') %></dt><dd><%= @user.chats.message.count %>
  </dl>
  <time><%= @user.updated_at.strftime(t('date.long')) %></time>
</section>
