<% content_for :body_class, 'chats ' %>
<% content_for :body_data_room_id, @room.id.to_s %>
<h1><%= @room.name %></h1>

<%= form_tag room_participants_path(@room), id: 'entry_chat' do |form| %>
  <div>
    <%= text_field_tag :user_name, current_user.try(:name), placeholder: t('.content_placeholder') %>
    <% if flash[:error] %>
      <%= flash[:error][:name].join %>
    <% end %>
    <% if user_signed_in? && current_user.instance_of?(User::Reserved) %>
      <%= link_to t('.sign_out'), destroy_user_session_path, method: 'delete' %> 
      <%= link_to t('users.show.edit'), edit_users_path %>
    <% else %>
      <div class="notification">
        <%= t('.name_notification_html') %>
      </div>
    <% end %>
  </div>
  <div>
    <% @colors.each do|color| %>
      <label>
        <%= radio_button_tag :color, color, user_signed_in? ? current_user.color == color : @colors[-1] == color %>
        <span style="color: <%= color %>;">★</span>
      </label>
    <% end %>
  </div>
  <%= submit_tag t('.arrive') %>
<% end %>

<%= render 'chats/status' %>
<%= render 'chats/chats', chats: @chats, linked_room_name: false %>
